#nav--main {
	min-height: 60px;
	text-align: left;
	background-color: $color-primary;
	border-bottom: 4px solid $color-primary-darker;
	padding: 8px 0 0 12px;
	@media(min-width: $screen-lg) {
		padding: 0;
	}
}

// Nav links color setup
.navbar-light .navbar-brand{
	color:#fff;
	img {
		width: 120px;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	transition: color .4s;

	&:focus,
	&:hover {
		color: #fff;
	}
}

.navbar-light .navbar-toggler{
	border-color: $color-body;
}

.nav-item:not(:first-child) {
	@media(min-width: $screen-lg) {
		padding-left: 15px;
	}
}

.navbar-toggleable-md .navbar-nav .dropdown-menu {

	@media(max-width: $screen-lg - 1){
		max-width: 50px;
		margin:auto;
		background-color: $color-primary;
		border:none;
		text-align: center;
	}
}

.dropdown-item, .dropdown-item{
	@media(max-width: $screen-lg - 1){
	color: #fff;
	&:hover,&:focus {
		background-color: $color-primary;
		color: #fff;
		}
	}
}

//Avatar in the nav
#navbarSupportedContent > ul > li > a > img {
	margin-right: 10px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
}